@font-face {
	font-family: "Times New Roman", Times, serif;
	font-display: auto;
}

* {
	margin: 0;
	padding: 0;
}

header, footer {
	display: block;
}

html, body {
	height: 100%;
	background-color: #f5f5f5;
}

body {
	font-size: 16px;
	overflow-y: scroll;
}

a:link, a:visited {
	text-decoration: none;
}

img {
	max-width: 100%;
}

#headerlogo {
	margin: 2% 0 0 10%;
	width: 20%;
}

.wrapper {
	margin: 5% 10%;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.container {
	position: relative;
	margin: 2%;
}

.content {
	padding: 1%;
	overflow: hidden;
}

.column {
	float: left;
}

.column.left {
	width: 60%;
	margin: 2%;
	text-align: justify;
	font-size: 20px;
}

.column.right {
	width: 36%;
	margin-top: 2%;
	text-align: center;
}

.logoutDiv {
	margin: 4% 0 0 0;
	text-align: right;
}

.logoutButton {
	padding: 1.5% 3% 1.5% 3%;
	margin: 2%;
	border: none;
	color: black;
	background-color: #e7e7e7;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
}

.logoutButton:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.divTable {
	text-align: center;
	margin: 2%;
	font-size: 20px;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	word-wrap:break-word;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

footer {
	padding: 1.5%;
}

.footer {
	text-align: center;
	position: relative;
	margin: 1% 15%;
}

#footerimg {
	width: 40%;
}

@media screen and (max-width: 1000px) {
	.container {
		margin: 0 auto;
		position: static;
	}
	.column {
		float: none;
	}
	.column.left {
		width: 96%;
	}
	.column.right {
		width: 96%;
		margin-top: 6%;
		text-align: center;
	}
	#headerlogo {
		width: 30%;
	}
	#footerimg {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.column.left {
		font-size: 17px;
	}
	#headerlogo {
		width: 40%;
	}
	#footerimg {
		width: 80%;
	}
	h1, table {
		font-size: 16px;
	}
}