body {
	font-family: "Times New Roman", Times, serif;
	background-color: #f5f5f5;
	overflow-y: scroll;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.topheader {
}

#headerlogo {
	width: 20%;
}

.content {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: white;
	border-color: black;
	border-style: solid;
	border-width: thin;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.columnContentLeft {
	float: left;
	width: 65%;
	margin-left: 2%;
	font-size: 20px;
	text-align: justify;
}

.columnContentRight {
	float: right;
	width: 31%;
	margin-top: 2%;
	text-align: center;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.logoutDiv {
	margin: 4% 0 0 0;
	text-align: right;
}

.logoutButton {
	padding: 1.5% 3% 1.5% 3%;
	margin: 2%;
	border: none;
	color: black;
	background-color: #e7e7e7;
	text-align: center;
	font-size: 16px;
	border-radius: 8px;
}

.logoutButton:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.divTable {
	text-align: center;
	margin: 2%;
}

table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	word-wrap:break-word;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.footer {
	bottom: 0;
	text-align: center;
}

#footerimg {
	width: 40%;
}

@media screen and (max-width: 1200px) {
	.columnContentLeft {
		float: none;
		width: 96%;
		margin: 2%;
	}
	.columnContentRight {
		width: 100%;
		margin: 6% 0;
		text-align: center;
	}
	#headerlogo {
		width: 30%;
	}
	#footerimg {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.columnContentLeft {
		float: none;
		width: 88%;
		margin: 6%;
		font-size: 16px;
	}
	.columnContentRight {
		width: 100%;
		margin: 6% 0;
		text-align: center;
	}
	#headerlogo {
		width: 40%;
	}
	#footerimg {
		width: 70%;
	}
	h1, table {
		font-size: 16px;
	}
}