<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SPID</title>

	<link type="text/css" rel="stylesheet" href="css/default.css" />

	</head>

	<body>

		<div class="topheader">
			<img id="headerlogo" src="logo/logo.png">
		</div>

		<div class="content">

			<!-- Data Visualization -->
			<div class="divTable">
				<h1>Qualcosa è andato storto.</h1><br>
				<h1>Torna alla pagina di Home con l'apposito tasto.</h1>
			</div>

			<div class="logoutDiv">
				<a href="/"><button class="logoutButton">Home</button></a>
			</div>

		</div>

		<div class="footer">
			<img id="footerimg" src="logo/spid-agid-logo-lb.png">
		</div>

	</body>
</html>
